.App {
  width: 90%;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .App {
      width: 70%; } }
  .App .dk_container {
    display: none !important; }
  .App .App-header {
    height: 150px;
    padding: 20px;
    color: #666;
    text-align: center; }
    .App .App-header .App-logo {
      height: 80px; }
    .App .App-header .App-title {
      font-size: 1.5em; }
  .App form .row {
    margin-bottom: 1rem; }
    .App form .row .input .form-control {
      font-family: "Roboto";
      display: block;
      width: 100%;
      height: calc(2.25rem + 2px);
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
      .App form .row .input .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }
  .App .quill {
    /* Snow Theme */
    /* Bubble Theme */
    /* Set dropdown font-families */
    /* Set content font-families */ }
    .App .quill .ql-container {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      background: #fefcfc; }
    .App .quill .ql-editor {
      min-height: 18em; }
    .App .quill .ql-snow.ql-toolbar {
      display: block;
      background: #eaecec;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px; }
    .App .quill .ql-editor {
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
      .App .quill .ql-editor:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }
    .App .quill .ql-bubble .ql-editor {
      border: 1px solid #ced4da;
      border-radius: 3px; }
    .App .quill .ql-font span[data-value="balkeno"]::before {
      font-family: 'balkeno-webfont';
      content: "Balkeno"; }
    .App .quill .ql-font span[data-value="opensans-regular"]::before {
      font-family: 'opensans-regular-webfont';
      content: "OpenSans"; }
    .App .quill .ql-font span[data-value="roboto"]::before {
      font-family: "Roboto";
      content: "Roboto"; }
    .App .quill .ql-font span[data-value="sapient-sans"]::before {
      font-family: "SapientSansRegular";
      content: "SapientSans"; }
    .App .quill .ql-font-balkeno {
      font-family: 'balkeno-webfont'; }
    .App .quill .ql-font-opensans-regular {
      font-family: 'opensans-regular-webfont'; }
    .App .quill .ql-font-roboto {
      font-family: "Roboto"; }
    .App .quill .ql-font-sapient-sans {
      font-family: "SapientSansRegular"; }
  .App .themeSwitcher {
    margin-top: 0.5em;
    font-size: small;
    text-align: left; }
    .App .themeSwitcher select {
      padding: 5px;
      border-radius: 3px;
      font-family: "Roboto"; }
  .App .editor-preview {
    font-family: Helvetica,Roboto,arial,sans-serif, opensans-regular-webfont ,  'opensans-bold-webfont',balkeno-webfont,opensans-extrabold-webfont,  opensans-regular-webfont Arial; }
    .App .editor-preview .quill .ql-editor img {
      width: 100%; }
  .App .buttonContainer {
    text-align: right;
    margin: 50px 0; }
    .App .buttonContainer button {
      margin-left: 10px; }
      .App .buttonContainer button.previewPage {
        display: inline-block !important; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/*# sourceMappingURL=App.css.map */
