*, ::after, ::before {
  box-sizing: border-box; }

button, a {
  font-family: "Roboto";
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 3px;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
  button:not(:disabled), a:not(:disabled) {
    cursor: pointer; }
  button.success, a.success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745; }
    button.success:hover, a.success:hover {
      color: #fff;
      background-color: #218838;
      border-color: #1e7e34; }
    button.success:disabled, a.success:disabled {
      opacity: .65;
      pointer-events: none; }
  button.primary, a.primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff; }
    button.primary:hover, a.primary:hover {
      color: #fff;
      background-color: #0069d9;
      border-color: #0062cc; }
    button.primary:disabled, a.primary:disabled {
      opacity: .65;
      pointer-events: none; }

.alert-container {
  position: fixed;
  top: 15px;
  left: 0;
  z-index: 1000;
  margin: auto;
  width: 100%; }

.alert {
  position: relative;
  width: 60%;
  margin: auto;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem; }
  .alert.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb; }
  .alert.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb; }
  .alert.alert-dismissible {
    padding-right: 4rem; }
  .alert.fade {
    transition: opacity .15s linear; }
  .alert .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: .5rem 1.25rem;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5; }
    .alert .close:not(:disabled):not(.disabled) {
      cursor: pointer; }
      .alert .close:not(:disabled):not(.disabled):hover {
        color: #000;
        text-decoration: none;
        opacity: .75; }

/*# sourceMappingURL=common.css.map */
